:root {
  --branding-color: #214731;
  --secondary-color: linear-gradient(
    180deg,
    rgba(242, 230, 230, 1) 0%,
    rgba(242, 236, 235, 1) 69%,
    rgba(255, 255, 255, 1) 100%
  );
  --third-color: #ddca8f;
  --fourth-color: #427e7a;
  --heading-font-family: Cambria, Cochin, Georgia, Times, "Times New Roman",
    serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--third-color);
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
  line-height: 1.5;
}

h2 {
  font-size: 64px;
}

h3 {
  font-size: 48px;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.hero {
  text-align: center;
  padding: 80px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: var(--third-color);
}

.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  line-height: 1.5;
  font-size: 24px;
}

.content-container {
  padding: 60px 20px;
}

.content h1 {
  font-size: 63px;
  line-height: 80px;
}

.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}
.content h3 {
  font-size: 24px;
  line-height: 1.5;
  font-family: var(--default-font-family);
}
.content p {
  font-size: 14px;
}
.content {
  margin: 30px;
}
.btn-branding {
  border: 1px solid var(--fourth-color);
  border-radius: 4px;
  color: var(--fourth-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline {
  color: var(--fourth-color);
  border: 1px solid var(--fourth-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-branding-outline:hover,
.btn-branding:hover {
  color: white;
  background: var(--fourth-color);
}
.project-desciption {
  padding: 20px 60px 60px 120px;
}
.skills p {
  display: inline;
  padding: 8px;
  margin: 1px;
  font-size: 14px;
  border: 1px solid var(--third-color);
  border-radius: 4px;
}
nav {
  padding: 20px 0;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}
nav a {
  text-decoration: none;
  color: #272142;
  transition: all 150ms ease-in-out;
}
nav a:hover,
nav li.active a {
  color: var(--third-color);
}

footer {
  margin: 60px 0;
}

footer .contact-box {
  background: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

footer .email-link:hover {
  color: var(--fourth-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--fourth-color);
  background: var(--secondary-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background: var(--fourth-color);
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 56px;
  }

  h2 {
    font-size: 44px;
  }

  h3 {
    font-size: 26px;
  }

  .content {
    text-align: center;
    padding: 0;
  }

  .project-desciption {
    padding: 0;
    text-align: center;
  }
}
.open-source {
  color: var(--third-color);
}

.link {
  color: var(--fourth-color);
}

.abstract-art {
  border-radius: 5px;
}

.name {
  color: var(--fourth-color);
}
